!DOCTYPE html>
<html>
    <title>Basic Page</title>
    <body>
        <h1>This is 1st div</h1>
        <div class="abd">
            <textarea name="1st" id="22" cols="70" rows="10">
                freeCodeCamp is a donor-supported tax-exempt 501(c)(3) nonprofit organization (United States Federal Tax Identification Number: 82-0779546)

            Our mission: to help people learn to code for free. We accomplish this by creating thousands of videos, articles, and interactive coding lessons - all freely available to the public. We also have thousands of freeCodeCamp study groups around the world.

                Donations to freeCodeCamp go toward our education initiatives, and help pay for servers, services, and staff.
            </textarea>
        </div>
        <div>
            <textarea name="2nd" id="23" cols="70" rows="10">
                The most exciting phrase to hear in science, the one that heralds discoveries, is not 'Eureka!' but 'Now that's funny…'
                                            Isaac Asimov
            </textarea>
        </div>
        <img src="sonata.jpg" alt="Car Image" style="height: 100px;">
        <a href="basic.html" style="color:rgb(0, 0, 0);">Create contact page</a>
        <p></p>
    </body>
</html>