<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    {{str}}
    <form action="/linfo" method="POST">
        <label >Enter Email</label><br>
        <input type="email" name="email" ><br>
        <label >Password</label><br>
        <input type="text" name="password"><br>
        <label >Submitt</label><br>
        <input type="submit" value="submitt"><br>

    </form>
</body>
</html>