<!DOCTYPE html>
<html>
    <title>Menue Page</title>
    <body>
        <style>table th,td {border: 1px solid black;}
        </style>
        {{str}}<br>
        <table>
            <thead>
                <tr>
                <th><a href="/" style="color: rgb(110, 42, 189);">Click here if you wnat to register new contact </a></th>
                <td><a href='/serch' style="color: rgb(70, 49, 176);">Click here if you want to see all contacts</a></th>
                <td><a href='/delf' style="color: rgb(70, 49, 176);">Click to delete record</a></th>
                <td><a href='/update' style="color: rgb(70, 49, 176);">Click to update record</a></th>
            </tr>
            </thead>
        </table>
        <br><br>
        <br>
        
    </body>
</html>