<!DOCTYPE html>
<html>
    <title>Sign Up Page</title>
    <body>
        {{str2}}
        <form action="/man"method='POST'>
            <label >ID</label><br>
            <input type="number" name="id" ><br>
            <label >Enter Email</label><br>
            <input type="email" name="email" required><br>
            <label >Password</label><br>
            <input type="text" name="password" required placeholder="8 characters long"><br>
            {{str}}<br>
            <label >Submitt</label><br>
            <input type="submit" value="submitt"><br>

        </form>
    </body>
</html>