<!DOCTYPE html>
<html>
    <title>New record Entry page</title>
    <body>
        <form action='/update2'method='POST'>
            <label>Enter name</label><br>
            <input type="text" name="cname" value={{uname}} required><br>
            <label >Enter Id</label><br>
            <input type="number" name="Id" value={{uid}} required><br>
            <label >Mobile number</label><br>
            <input type="tel" name="PH#" value={{uphn}} required><br>
            <label >City</label><br>
            <input type="text" name="city" value={{ucity}} required><br>
            <label >Profession</label><br>
            <input type="text" name="Profession" value={{uprofess}} required><br>
            <label >User id</label><br>
            <input type="number" name="u_id" value={{u_id}} required><br><br>
            <label >submit</label><br>
            <input type="submit" name="submit"><br>
        </form>
    </body>
</html>